# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Local-only directories
artwork/*
ScriptArchive/*
Tools/*

# data / non-code
*.mat
*.avi
*.m~